<div class="d-flex" id="wrapper">

  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Mi Aplicación</div>
    <div class="list-group list-group-flush">
        <!-- Harumi -->
      <a href="/ventas" class="list-group-item list-group-item-action bg-light">Ventas</a>
      <a href="/detalle-venta" class="list-group-item list-group-item-action bg-light">Detalle de ventas</a>
      <a href="/pagos" class="list-group-item list-group-item-action bg-light">Pagos</a>
      <a href="/tipos-pagos" class="list-group-item list-group-item-action bg-light">Tipos de pagos</a>

      <a href="/productos" class="list-group-item list-group-item-action bg-light">Productos</a>
      <a href="/usuarios" class="list-group-item list-group-item-action bg-light">Usuarios</a>
      <a href="/reports" class="list-group-item list-group-item-action bg-light">Reportes</a>

      <!-- Nuñez-->
      <a href="/shops" class="list-group-item list-group-item-action bg-light">Tiendas</a>
      <a href="/types-deliveries" class="list-group-item list-group-item-action bg-light">Tipos de Entregas</a>
      <a href="/deliveries" class="list-group-item list-group-item-action bg-light">Entregas</a>
      
      <a href="/settings" class="list-group-item list-group-item-action bg-light">Configuraciones</a>
      <a href="/logout" class="list-group-item list-group-item-action bg-light">Cerrar Sesión</a>
    </div>
  </div>

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      {{{body}}} 
    </div>
  </div>

</div>
