<div class="container" style="margin-top:70px ;">
    <div class="row mt-5">
        <h3 class="text-center text-uppercase p-2">Listado de especificaciones</h3>


        <div style="padding: 10px;">
        <button class="btn btn-danger"><a class="nav-link  link-light" aria-current="page" href="/specifications/add">Nueva especificación</a></button>
        </div>

        <table class="table text-start">
            <thead>
                <tr class="table-dark">
                    <th scope="col" class="col-1">ID</th>
                    <th scope="col" class="col-3">NOMBRE</th>
                    <th scope="col" class="col-5 ">DESCRIPCIÓN</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
               
                <tr>
                    <td>1</td>
                    <td>Procesador</td>
                    <td>Intel Core i7-1165G7 de 11.ª generación (hasta 4.7 GHz)</td>
                    <td>
                        <div class="text-end">
                            <a href="/specifications/edit" class="btn btn-warning p-2">
                                <i class="fa-solid fa-pencil"></i>Actualizar</a>


                            <a href="#" class="btn btn-danger p-2">
                                <i class="fa-solid fa-trash"></i>Eliminar</a>
                        </div>
                    </td>
                </tr>
               
            </tbody>
        </table>
    </div>
</div>
